body{
background-color: #fff;
font-family: sans-serif;
line-height: 1.2;

}

#wrapper{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap:wrap;
	    -ms-flex-wrap:wrap;
	        flex-wrap:wrap;
}

header{padding-left: 1em;
width:100%;}
header p {text-align: right;
margin-right: 1em;
}
header h1{color: orange;
letter-spacing: .1em;}

section.pv{
padding: 2em;
min-width: 15em;
margin: .5em;
background-color: #39f;
color:#eea;
border-radius: 1em;
-webkit-box-flex:2;
-webkit-flex:2 0 20%;
    -ms-flex:2 0 20%;
        flex:2 0 20%;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-webkit-flex-direction:column;
    -ms-flex-direction:column;
        flex-direction:column;

}

#volumes{flex:3 0 50%;}

#like{
	flex:1 1 10%;
}


#buried{

 flex:3 0 50%;


}


section.pv img{
	width:100%;
	height:auto;
}

section.pv:hover{background-color: #06f;}

section.pv p:nth-last-child(2){
	padding-bottom: 2em;
}

section.pv button:last-child{
width:10em;
padding: .5em;
background-color: orange;
border-radius: .5em;
margin: auto auto 0 auto;

}


